@charset "utf-8";

/*--------------共通のスタイル-----------------*/
/*=================================
全体的なスタイル
==================================*/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;
    width: 100%;
    background-image: url(images/bg001.jpg);
    
        
        
}

#container {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(253,249,226,0.5);
    
}

a {
    text-decoration: none;
    
    
    
}

/*----------------
アイコン
----------------*/
.fa-bell {
    
}

.fa-pencil {
    //color: darkgreen;
}



/*==================================
ヘッダ
====================================*/
header {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    background: gray;
    background-image: url(images/bg096_09.gif);
    
    
	}

header h1 {
    font-size: 25px;
    font-weight:bold;
    margin-left: 10px;
}

header h1 a {
    color: black;
    
}

#footerNavlink {
    position: relative;
    
    
}

#footerNavlink a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    
}


/*==================================
メニュー
====================================*/
#headerNav {
    position: relative;
    
    
	}

#headerNav>ul {
    position: absolute;
    bottom: 0;
    right: 0;
    
}
	
#headerNav>ul>li {
    //position: relative;
    display: inline-block;
    margin-left: 5px;
    text-align:center;
    color: black;
    
}

#headerNav ul li a {
  color: black;
  display: block;
}

#headerNav ul li a:hover {
  //color: blue;
  text-shadow: 1px 1px 3px #767576;
}

#headerNav ul li:hover, .menu ul li a:hover {
  //text-decoration:underline;/* リンクにマウスが乗ったら下線を表示 */
  //background:#EA2839;/*ホバー時の親メニューの背景色*/
  //color:#fff;/*ホバー時の親メニューの文字色*/
    
}

#headerNav ul li ul {
  position: absolute;
  right: 0px;
  z-index: 100;
}

#headerNav ul li ul li {
  visibility: hidden;
  overflow: hidden;
  width: 250px;/*サブメニューの幅*/
  height: 0;
  background:#FFDAD7;/*サブメニューの背景色*/
    
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
    
}

#headerNav ul li ul li:hover, .menu ul li ul li a:hover {
  background:#FFAFA9;/*ホバー時のサブメニューの背景色*/
}
#headerNav ul li:hover ul li, .menu ul li a:hover ul li{
  visibility: visible;
  overflow: visible;
  height:30px;/*サブメニューの高さ*/
  z-index: 10;
  
  padding-top: 8px;
  
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
    
    
}







/*==================================
更新情報
====================================*/
#update {
    
    position: relative;
    background: url(images/top.jpg) top;
    background-size: contain;
    width: 100%;
    height: 50vw;
    max-height: 40vh;
    
}

#update h1 {
    font-weight: 600;
    background-color: floralwhite;
    position: absolute;
    display: inline;
    padding: 2px;
    margin: 5px;
    border-left: groove 10px lightblue;
    font-size: 120%;
    
}

#upbox{
    position: absolute;
    width: 70%;
    height: 30%;
    margin: 0 15%;
    bottom: 10px;
    background-color: rgba(255,255,255,0.6);
    overflow: auto;
}



#update ul{
    
    
    
}

#update time{
    margin-right: 5px;
    
    
}



/*==================================
制作物
====================================*/
#products {
    margin: 0 10px;
}

#products h1 {
    font-weight: 600;
    padding-left: 5px;
    margin: 5px 5px 5px 0;
    border-bottom: solid 3px dodgerblue;
    color: midnightblue;
    font-size: 120%;
    
}

#products ul {
    
}

#products li{
        background-color: rgba(235,255,255,0.7);
        
        
    }

#products ul#pp {
    text-align: center;
}


#products ul#pp li {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    border: solid 3px #006400;
    background-color: rgba(255,255,150,0.8);
    margin-left: auto;
    margin-right: auto;
}

#products ul:not(#pp) time{
    margin-left: 5px;
    
    
}



.badge {
    background: red;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    position: absolute;
    right: -5px;
    top: -5px;
    text-shadow: 0 0.3px 0 #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    border-radius: 50px; 
    z-index: 100;
    
}


/*==================================
研究過程
====================================*/
#process {
    margin: 0 10px;
    
    
}

#process>h1 {
    font-weight: 600;
    padding-left: 5px;
    margin: 5px 5px 5px 0;
    border-bottom: solid 3px dodgerblue;
    color: midnightblue;
    font-size: 120%;
    
}



#process article {
    margin-bottom: 10px;
    padding: 0 10px 0px 10px;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    
}

#process article :not(h1) {
    //display: none;
    
    
}


#process article h1{
    display: inline;
    font-size: 110%;
    font-weight: 600;
    padding-left: 5px;
    
}

#process article h2{
    font-size: 110%;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 5px;
}

#process article p,.souce{
    margin: 0 10px;
    line-height: 1.5;
    
}

.sql {
    font-size: 105%;
    background-color: beige;
    border-bottom: solid 2px darkred;
    
}

strong {
    font-weight: 600;
    color: red;
}

.souce {
    display: inline-block;
    
    
    
}


/*==================================
参考書籍
====================================*/
#reference {
    margin: 0 10px;
    
    
    
}

#reference>h1 {
    font-weight: 600;
    padding-left: 5px;
    margin: 5px 5px 5px 0;
    border-bottom: solid 3px dodgerblue;
    color: midnightblue;
    font-size: 120%;
    
}

#reference ul {
    overflow: hidden;
}

#reference ul li {
    display: block;
    text-align: center;
    float: left;
    margin-right: 10px;
    
}

#reference img {
    width: 200px;
    height: 280px;
    
}

/*==================================
リンク
====================================*/
#link {
    margin: 0 10px;
    
}

#link>h1 {
    font-weight: 600;
    padding-left: 5px;
    margin: 5px 5px 5px 0;
    border-bottom: solid 3px dodgerblue;
    color: midnightblue;
    font-size: 120%;
    
}

#link ul {
    
    
}


#link ul li {
    
    
}


/*==================================
フッタ
====================================*/
footer {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    background-color: floralwhite;
    padding: 10px 0;
}

footer>p {
	font-size:x-small;							/* フォントサイズを小さく */
	text-align:center;							/* テキストをセンター揃え */
	}


#footerNav {
    
    
}

#footerNav a:visited{
    color: blue;
    
}

#footerNav ul {
    text-align: center;
    
}

#footerNav ul li{
    display: inline-block;
    margin: 0 0 5px 5px;
}

#footerNav ul li .fa{
    font-size: 50px;
    
}





















/*--------------スマートフォンのスタイル-----------------*/

#headerNav {
    display: none;
    
}




/*--------------タブレットのスタイル-----------------*/
@media all and (min-width: 480px) {
    

}




/*--------------PCのスタイル-----------------*/
@media all and (min-width: 768px) {
        
    
    #footerNavlink {
        display: none;
    }
    
    #headerNav {
        display: block;
    }
    
    #footerNav {
        display: none;
    }
    
    #link {
        display: none;
    }
    
    
    
    
    #products ul#pp li:hover {
        background-color: rgba(255,165,0,0.7);
    }

    
    #products li:hover{
        background-color: rgba(20,255,255,0.7);
        
        
    }
    
    
    #process article,#process>h1 {
        cursor: pointer;
        
    }
    
    
    #process article h1:hover{
        //background-color: rgba(20,255,255,0.7);
        
    }
    
    
    #process article:hover {
        background-color: rgba(255,255,150,0.8);
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}












